*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    background: #222222;
}
.logo{
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.support{
    display: flex;
    direction: rtl;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 20%;
    font-size: 20px;
    flex-wrap: wrap;
    border: black solid 3px;
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
}

.support i{
    color: white;
    align-items: center;
    padding: 15px;
    margin-top: 15px;
}

.support p{
    margin: 10px;
    font-size: 20px;
}

.support a{
    /* color: white; */
    padding: 5px;
    margin-top: 15px;
    transition: .05s ease;
    transform: scale(1.1) ;
    
}

.cash{
    color: red;

}

.insta{
    color: blue;
    margin-left: 15px;
}

.support a:hover{
    font-size: 23px;
    color: blue;
}

.logo a{
    font-size: 50px;
    color: #fff;
    transition: 0.5s ease ;
}

.search .ss{
    margin: 10px;
    outline: none;
}

.search i{
    margin: 20px;
    font-size: 2rem;
    transition: ease .5s;
    
}

.search i:hover{
    color: white;
    font-size: 2.5rem;
}




.search{
    display: flex;
    width: 100%vh;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div .ss{
    display: flex;
    width:100vh;
    height: 3rem;
    border-radius: 20px;
    border: dashed 3px white;
    background: #3f3e3e;
    color: white;
    font-size: 30px;
    text-align: center;
}


.logo a:hover{
    color: darkblue;
    font-size: 55px;
}

.sec {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    
}




p{
display: flex;
justify-content: center;
color: #fff;
font-size: 30px;
padding-top: 20px;
margin-top: 10px;

}










.cards{

    display: flex;
    justify-content: center;
}

.caard{
    margin: 20px;
    padding: 15px;
    width: fit-content;
    transition: ease 0.5s;
}

.caard:hover{
transform: scale(1.1);
border: solid;
}

.caard div{
    display: flex;
    justify-content: center;

}

img{
    height: 200px;
}

.content{
    color: #fff;
    font-size: 20px;
    margin: 20px 30px; 
}

.btn{
    border: solid;
    border-radius: 15px;
    padding: 10px;

}

.btn a{
    transition: ease 0.5s;
}


.btn a:hover{
    color: #fff;
    transform: scale(1.1);
}



.div-sent{
    display: flex;

    justify-content: center;
    margin: 15px;
    color: #fff;
}

#send{
    margin: 10px;
    width:13rem ;
    color: #fff;
    text-align: center;
}



.textt{
    display: block;
    text-align: center;
    font-size: 30px;
}
.submit{
    display: block;
    width: 15rem;
    padding: 10px;
    color: #fff;
    border: hidden;
    transition: ease 0.5s;
}


.submit:hover{
    transform: scale(1.4);
    color: red;
    
}
